.about {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: var(--BG);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-title {
    font-family: 'Instrument Serif', serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1px;
    color: var(--FG);
    margin: 0;
}